body {
    font-family: "Work Sans", sans-serif;
    font-style: normal;
}

/*------------------- common styles---------------- */
.common-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;

}

.common-description {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/*----------- header related styles---------------- */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/*------------------ banner related styles------------------ */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
    margin-top: 30px;
}

/*--- main styles--- */
main {
    max-width: 1440px;
    margin: 80px auto;
}

/*------------- teams styles------------- */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    margin-bottom: 24px;
    font-weight: 700;
}

.gray {
    color: #727272;

}

.yellow {
    color: #FF900E;
}

/*----------- feature style-------------- */
.features {
    display: flex;
    gap: 100px;
    margin-top: 130px;
}

.features .common-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.features-img img {
    margin-left: 90px;
    height: 90%;
}

.ten-years-badge {
    width: 300px;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px;
    border: 0;
    color: #FFF;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
    margin: 0;
}

/*-------------------- fact styles -------------------- */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-num {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts-card-container .card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;

}

/*------------------- sponsers styles--------------- */
.sponsors {
    text-align: center;
}

.sponsor-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsor-img-container img {
    width: 165px;
}

/*------------------ responsive media queries---------------------- */
/*---------- mobile devices---------- */
@media screen and (max-width:576px) {
    header {
        padding: 40px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .features-img img {
        width: 90%;
        max-width: 300px;
    }

    .ten-years-badge {
        position: static;
        margin-left: 0;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
}

/*--------------- medium devices------------------ */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .features,
    .teams-container,
    .sponsor-img-container {
        flex-direction: column;
    }
}